.fotomar
{
  position: relative;
  display: flex;
  justify-content: center;     
  width: 1200px;
  margin: 0 auto;
  height: 480px;
}

.titulo
{
  position: absolute;
  top: 50%;                 
  left: 50%;                
  transform: translate(-50%, -50%);
  color: white;            
  text-align: center;
  font-size: 60px;

}

body 
{
  background-color: #6d93a2 !important; 
  font-family: "Poiret One", cursive !important;
}

#navv
{
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

#logo
{
  display: flex;
  align-items: center;
  margin-right: 80px;
  margin-left: 90px;
}

#logoimg
{
  width: 110px;
}

#links
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 140px;
}

#links a
{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#navv
{
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

#logo
{
  display: flex;
  align-items: center;
  margin-right: 80px;
  margin-left: 90px;
}

#logoimg
{
  width: 110px;
}

#links
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 140px; 
}

a
{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

#footer 
{
  background-color: #0a2b3e;
  color: #f2f2f2;
  padding: 40px 20px;
  margin-top: 100px;
  text-align: center;
  font-family: "Poiret One", sans-serif;
}

.footer-contenido 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo img 
{
  width: 80px;
  margin-bottom: 10px;
}

.footer-logo h3 
{
  margin: 0;
  font-size: 24px;
  letter-spacing: 2px;
}

.footer-derechos p 
{
  font-size: 14px;
  color: #c3e3f0;
  margin-top: 15px;
  letter-spacing: 1px;
}

#navv a,
#navv a:hover,
#navv a:focus 
{
 color: black !important;    
}

.producto 
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px;
}

.imagen img 
{
  width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 5px 15px black;
}

.info 
{
  max-width: 450px;
}

.info h2 
{
  font-family: "Poiret One", cursive;
  font-size: 36px;
  margin-bottom: 15px;
}

.descripcion 
{
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}